<!DOCTYPE html>
<html>
<head>
    <title>Messing Up Enterprise</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/x-icon" href="imgs/Messingup.svg">
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'validation' %>
</head>
<body>
<section id="Section1-Container">
    <div id="Contact-Image-Container">
        <img src="<%= asset_path 'services.jpg' %>" alt="Contact Us">
        <div id="Overlay-Text">Services</div>
    </div>
</section>
<section id="Services">
    Sub Services
</section>
<section id="ContactUs">
    Contact Us
</section>
</body>
</html>
